RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

<Files "*.json">
    Order Deny,Allow
    Deny from all
</Files>

<Files "*.yml">
    Order Deny,Allow
    Deny from all
</Files>
